DATABASE_PATH=./data/planner.db

USER1_USERNAME=rasmus
USER1_PASSWORD=changeme
USER1_DISPLAY_NAME=Rasmus
USER1_COLOR=#4f46e5

USER2_USERNAME=partner
USER2_PASSWORD=changeme
USER2_DISPLAY_NAME=Partner
USER2_COLOR=#ec4899
